body {
    height: 100vh;
    margin: 0px;
    display: flex;
    flex-direction: column;
    font-family: roboto;
}

header {
    background-color: #1f2937;
    height: 350px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-shrink: 0;
}

header .container {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 270px;
    flex-shrink: 0;
    flex-wrap: nowrap;
    justify-content: start;
    padding: 16px;
}

.head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.body {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    justify-content: space-between;
    align-items: flex-end;
    flex: 1 1 auto;

}

.head img {
    height: 80px;
    width: 100px;
    object-fit: cover;
    border-radius: 10px;
}

.body img {
    height: 150px;
    width: 300px;
    object-fit: contain;
    font-weight: lighter;
}

h1 {
    font-weight: 900;
    color: #f9faf8;
    margin: 0px;
    line-height: 1;
}

ul {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 18px;
    color: #e5e7eb;
    margin: 0px;
}
a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    color: #e5e7eb;
}
.body div {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 150px;
    flex-shrink: 1;
    font-size: medium;
    justify-content: space-between;
    
}

.body p {
    margin: 8px 0px;
}

button {
    border-radius: 5px;
    background-color: #3882f6;
    border-width: 0px;
    color: white;
    font-size: small;
    padding: 4px 14px;
    width: 90px;
    box-sizing: border-box;
}

.upper-middle {
    background-color: white;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
}
.upper-middle .h1 {
    font-size: 28px;
    font-weight: 700;
    margin-top: 16px;
}

.upper-middle .container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.upper-middle img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border: 2px solid #e5e7eb;
    border-radius: 5px;
}

.upper-middle p {
    text-align: center;
    margin-top: 8px;
}

.upper-middle a {
    color: black;
}

.upper-middle a:hover {
    color: #3882f6;
}

.middle-middle {
    background-color: #e5e7eb;
    height: 250px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}

.quote {
    font-style: italic;
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 700px;
    font-size: 20px;
}
.quote p {
    font-style: normal;
    font-weight: bold;
    text-align: right;
    margin-top: 5px;
    padding-right: 10px;
}

.lower-middle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    flex-shrink: 0;
}

.lower-middle .container {
    display: flex;
    flex-direction: row;
    height: 100px;
    border-radius: 8px;
    background-color: #3882f6;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 0px 70px;
}

.lower-middle p {
    margin: 0px;
}

.lower-middle button {
    background: #3882f6;
    border: 1.5px solid white;
    margin-left: 80px;
    font-size: 10px;
}

.lower-middle .p2 {
    font-weight: lighter;
    font-size: 10px;
}

footer {
    display: flex;
    flex-direction: row;
    background-color: #1f2937;
    color: white;
    height: 50px;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}